- content_for(:page_title) { t('.page_title') }
- content_for(:sidenav) { render 'users/sidenav', user: current_user }

- if @versions.any?
  = render 'grouped_list', versions: @versions
- else
  = cell('dashboard/empty').call(:display)
