- content_for(:page_title) { @organisation.name }
- content_for(:sidenav) { render 'organisations/sidenav', organisation: @organisation }

%section
  .page-header
    %h3
      = @organisation.name

  - render_dashboard :organisation, @organisation
