- content_for(:page_title) { t('.page_title') }
.col-sm-8.col-sm-offset-2.col-mobile-single
  = simple_form_for(resource,
                    as: resource_name,
                    url: password_path(resource_name),
                    html: { method: :post, role: 'form' }) do |f|
    %legend
      Forgot your password?
    = f.error_notification
    = f.input :email, input_html: { autofocus: true }, hint: "We'll send password reset instructions to this account."
    .form-group
      %button.btn.btn-primary(type='submit')
        = fa 'key'
        Reset Password
