<!DOCTYPE html>
<html>
<head>
  <title>Security</title>
  <%= stylesheet_link_tag    "security/application", media: "all" %>
  <%= javascript_include_tag "security/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
