%article
  %header.page-header
    %h2 #{t '.page_title'}

  %ul
    %li.twitter
      = link_to '@example', 'https://twitter.com/example'
    %li.facebook
      = link_to 'PleaseIgnore', 'https:/facebook.com/example'
    %li.contact
      = link_to 'support@example.com', page_url('contact')

  %p.leader
    %strong PleaseIgnore is a simple service for Lorem Ipsum.
    Quisque vehicula blandit orci, vitae sagittis dolor. Donec porta elementum nisl sed venenatis.

  %p Services provided are Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

  %p PleaseIgnore was made by Ben Morrall, who can be summoned at '@bmorrall'.
