.confirm-account
  .page-header
    %h3 Confirm your Account
  %p
    Confirming your email address will help protect your account from being stolen,
    and will help you receive support in the event of a problem.
  = form_tag user_confirmation_path, method: :post do
    .form-group
      %button.btn.btn-primary{ type: 'submit' }
        = fa 'check'
        = t('devise.confirmations.form.send')
