%footer#footer(role='footer')
  .container.text-center
    %div<
      &copy; 2014 Company, Inc.
    %div
      %strong
        Hackathon Starter
        Project
        ·
        Modified by
      %a(href='http://benmorrall.com') Ben Morrall
    %div
      Code licensed under
      %a(href='http://opensource.org/licenses/mit-license.html')  MIT License
    %div
      %a(href='https://github.com/bmorrall/PleaseIgnore') GitHub Project
      ·
      %a(href='https://github.com/bmorrall/PleaseIgnore/issues')  Issues