%footer#footer{ role: 'footer' }
  .container-fluid.text-center
    .row
      .col-sm-12.col-lg-offset-1.col-lg-10.col-xl-offset-2.col-xl-8
        %div<
          &copy; 2015 Company, Inc.
        %div
          %strong
            Hackathon Starter
            Project
            ·
            Modified by
          = external_link 'Ben Morrall', 'http://benmorrall.com'
        %div
          Code licensed under
          = external_link 'MIT License', 'http://opensource.org/licenses/mit-license.html'
        %div
          = external_link 'GitHub Project', 'https://github.com/bmorrall/PleaseIgnore'
          ·
          = external_link 'Issues', 'https://github.com/bmorrall/PleaseIgnore/issues'
